# P3_Réalisez une étude de santé publique

Mise en situation
Vous êtes intégré à une nouvelle équipe de chercheurs de la Food and Agriculture Organization of the United Nations (FAO), l'un des organes qui compose l'ONU et dont l'objectif est d' « aider à construire un monde libéré de la faim ».

Votre équipe est chargée de réaliser une étude de grande ampleur sur le thème de la sous-nutrition dans le monde.

Le problème de la faim est complexe et peut avoir de multiples causes, différentes selon les pays. L’étape préliminaire de cette étude sera donc d’établir un “état de l’art” des recherches déjà publiées, mais également de mener une étude statistique destinée à orienter les recherches vers des pays particuliers, et de mettre en lumière différentes causes de la faim. Ainsi, une poignée de data analysts (dont vous !) a été sélectionnée pour mener cette étape préliminaire. Lors de la première réunion, vous avez été désigné pour mettre une place la base de données que votre équipe pourra requéter (en SQL) à souhait pour réaliser cette étude statistique.

 

Les données
Les données sont disponibles sur ce lien et sont constituées de 5 fichiers:

fr_animaux.csv : multiples indicateurs de production des produits animaux en 2013
fr_population.csv: population mondiale par pays en 2013
fr_vegetaux.csv: multiples indicateurs de production des produits végétaux en 2013
fr_céréales.csv: quantité de céréales produites au niveau mondial en 2013    
fr_sousalimentation.csv: nombre de personnes sous alimentées dans le monde de 2013 à 2017.

#https://github.com/ROWAIDAK/R-alisez-une-tude-de-sant-publique

## Importer  des librairies Python et lire des bases de données

In [96]:
#impotter des librairies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [97]:
#importer des database
df_animaux = pd.read_csv('fr_animaux.csv')
df_vegetaux = pd.read_csv('fr_vegetaux.csv')
df_céréales = pd.read_csv('fr_céréales.csv')

df_population = pd.read_csv('fr_population.csv')
df_sousalimentation = pd.read_csv('fr_sousalimentation.csv')

## Reconnaître, vérifier et nettoyer les données

In [98]:
df_animaux.head(1)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.0,S,Données standardisées

In [99]:
df_vegetaux.head(1)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées

In [100]:
df_céréales.head(1)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées

In [101]:
df_céréales.shape

(891, 14)

##### Dans les tables ( df_animaux,  df_vegetaux , df_céréales) une colonne ne peut pas être considérée comme clé primaire, on peut donc considérer les colonnes (Code zone, Code Élément, Code Produit) comme clés primaires

In [102]:
df_population.head(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle

In [103]:
df_sousalimentation.head(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN

In [104]:
df_sousalimentation.shape

(1020, 15)

In [105]:
df_sousalimentation.head(10)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN
5,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,2.6,F,Estimation FAO,NaN
6,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,2.8,F,Estimation FAO,NaN
7,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,3.2,F,Estimation FAO,NaN
8,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,3.4,F,Estimation FAO,NaN
9,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,3.5,F,Estimation FAO,NaN

##### Dans la table ( df_sousalimentation) une colonne ne peut pas être considérée comme clé primaire, on peut donc considérer les colonnes (Code zone, Code année) comme clés primaires

##### La colonne « Code zone  » peut être considérée comme la clé primaire dans la table (df_population)

In [106]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            175 non-null    object
 1   Domaine                 175 non-null    object
 2   Code zone               175 non-null    int64
 3   Zone                    175 non-null    object
 4   Code Élément            175 non-null    int64
 5   Élément                 175 non-null    object
 6   Code Produit            175 non-null    int64
 7   Produit                 175 non-null    object
 8   Code année              175 non-null    int64
 9   Année                   175 non-null    int64
 10  Unité                   175 non-null    object
 11  Valeur                  175 non-null    int64
 12  Symbole                 1 non-null      object
 13  Description du Symbole  175 non-null    object
dtypes: int64(6), object(8)
memory usage: 19.3+ KB

In [107]:
df_animaux.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37166 entries, 0 to 37165
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            37166 non-null  object
 1   Domaine                 37166 non-null  object
 2   Code zone               37166 non-null  int64
 3   Zone                    37166 non-null  object
 4   Code Élément            37166 non-null  int64
 5   Élément                 37166 non-null  object
 6   Code Produit            37166 non-null  int64
 7   Produit                 37166 non-null  object
 8   Code année              37166 non-null  int64
 9   Année                   37166 non-null  int64
 10  Unité                   37166 non-null  object
 11  Valeur                  37166 non-null  float64
 12  Symbole                 37166 non-null  object
 13  Description du Symbole  37166 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 4.0+ MB

In [108]:
df_animaux['Produit'].unique()

array(['Viande de Bovins', "Viande d'Ovins/Caprins",
       'Viande de Volailles', 'Viande, Autre', 'Abats Comestible',
       'Beurre, Ghee', 'Crème', 'Graisses Animales Crue', 'Oeufs',
       'Lait - Excl Beurre', 'Poissons Eau Douce', 'Viande de Suides',
       'Huiles de Poissons', 'Huiles de Foie de Poisso', 'Perciform',
       'Poissons Pelagiques', 'Poissons Marins, Autres', 'Crustacés',
       'Cephalopodes', 'Mollusques, Autres', 'Animaux Aquatiques Autre',
       'Plantes Aquatiques', 'Viande de Anim Aquatiq'], dtype=object)

In [109]:
df_céréales['Produit'].unique()

array(['Blé', 'Riz (Eq Blanchi)', 'Orge', 'Maïs', 'Millet', 'Seigle',
       'Avoine', 'Sorgho', 'Céréales, Autres'], dtype=object)

In [110]:
df_vegetaux['Produit'].unique()

array(['Blé', 'Riz (Eq Blanchi)', 'Orge', 'Maïs', 'Millet',
       'Céréales, Autres', 'Pommes de Terre', 'Sucre, canne',
       'Sucre, betterave', 'Sucre Eq Brut', 'Edulcorants Autres', 'Miel',
       'Légumineuses Autres', 'Noix', 'Graines de tournesol',
       'Graines de coton', 'Coco (Incl Coprah)', 'Sésame', 'Olives',
       'Plantes Oleiferes, Autre', 'Huile de Soja', "Huile d'Arachide",
       'Huile de Tournesol', 'Huile de Colza&Moutarde',
       'Huile Graines de Coton', 'Huile de Palme', 'Huile de Sésame',
       "Huile d'Olive", 'Huil Plantes Oleif Autr', 'Tomates',
       'Légumes, Autres', 'Oranges, Mandarines', 'Agrumes, Autres',
       'Bananes', 'Pommes', 'Ananas', 'Dattes', 'Raisin',
       'Fruits, Autres', 'Café', 'Feve de Cacao', 'Thé', 'Poivre',
       'Épices, Autres', 'Vin', 'Bière', 'Boissons Alcooliques',
       'Aliments pour enfants', 'Miscellanees', 'Seigle', 'Avoine',
       'Sorgho', 'Manioc', 'Patates douces', 'Ignames', 'Racines nda',
       'Haricots', 'Pois', 'Soja', 'Arachides Decortiquees',
       'Graines Colza/Moutarde', 'Palmistes', 'Huile de Palmistes',
       'Huile de Coco', 'Huile de Germe de Maïs', 'Oignons',
       'Citrons & Limes', 'Pamplemousse', 'Bananes plantains', 'Piments',
       'Girofles', 'Boissons Fermentés', 'Alcool, non Comestible',
       'Sucre non centrifugé', 'Huile de Son de Riz'], dtype=object)

In [111]:
df_céréales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            891 non-null    object
 1   Domaine                 891 non-null    object
 2   Code zone               891 non-null    int64
 3   Zone                    891 non-null    object
 4   Code Élément            891 non-null    int64
 5   Élément                 891 non-null    object
 6   Code Produit            891 non-null    int64
 7   Produit                 891 non-null    object
 8   Code année              891 non-null    int64
 9   Année                   891 non-null    int64
 10  Unité                   891 non-null    object
 11  Valeur                  891 non-null    int64
 12  Symbole                 891 non-null    object
 13  Description du Symbole  891 non-null    object
dtypes: int64(6), object(8)
memory usage: 97.6+ KB

In [112]:
df_sousalimentation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            1020 non-null   object
 1   Domaine                 1020 non-null   object
 2   Code zone               1020 non-null   int64
 3   Zone                    1020 non-null   object
 4   Code Élément            1020 non-null   int64
 5   Élément                 1020 non-null   object
 6   Code Produit            1020 non-null   int64
 7   Produit                 1020 non-null   object
 8   Code année              1020 non-null   int64
 9   Année                   1020 non-null   object
 10  Unité                   1020 non-null   object
 11  Valeur                  605 non-null    object
 12  Symbole                 1020 non-null   object
 13  Description du Symbole  1020 non-null   object
 14  Note                    0 non-null      float64
dtypes: float64(1), int64(4), object(10)
memory usage: 119.7+ KB

In [113]:
df_vegetaux.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104871 entries, 0 to 104870
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            104871 non-null  object
 1   Domaine                 104871 non-null  object
 2   Code zone               104871 non-null  int64
 3   Zone                    104871 non-null  object
 4   Code Élément            104871 non-null  int64
 5   Élément                 104871 non-null  object
 6   Code Produit            104871 non-null  int64
 7   Produit                 104871 non-null  object
 8   Code année              104871 non-null  int64
 9   Année                   104871 non-null  int64
 10  Unité                   104871 non-null  object
 11  Valeur                  104871 non-null  float64
 12  Symbole                 104871 non-null  object
 13  Description du Symbole  104871 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 11.2+ MB

In [114]:
df_population.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,175.000000,175.0,175.0,175.0,175.0,1.750000e+02
mean,126.720000,511.0,2501.0,2013.0,2013.0,4.807996e+04
std,75.168519,0.0,0.0,0.0,0.0,1.786327e+05
min,1.000000,511.0,2501.0,2013.0,2013.0,5.400000e+01
25%,64.500000,511.0,2501.0,2013.0,2013.0,2.543500e+03
50%,121.000000,511.0,2501.0,2013.0,2013.0,9.413000e+03
75%,188.500000,511.0,2501.0,2013.0,2013.0,2.888150e+04
max,351.000000,511.0,2501.0,2013.0,2013.0,1.416667e+06

In [115]:
df_animaux.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,37166.000000,37166.000000,37166.000000,37166.0,37166.0,37166.000000
mean,126.800839,3511.032718,2758.421191,2013.0,2013.0,148.291647
std,74.767139,2332.283315,27.454449,0.0,0.0,1933.728473
min,1.000000,645.000000,2731.000000,2013.0,2013.0,-1368.000000
25%,63.000000,674.000000,2736.000000,2013.0,2013.0,0.000000
50%,121.000000,5142.000000,2762.000000,2013.0,2013.0,1.000000
75%,189.000000,5511.000000,2767.000000,2013.0,2013.0,11.000000
max,351.000000,5911.000000,2848.000000,2013.0,2013.0,135600.000000

In [116]:
df_vegetaux.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,104871.000000,104871.000000,104871.000000,104871.0,104871.0,104871.000000
mean,127.694682,3728.248429,2587.470998,2013.0,2013.0,321.271016
std,75.423255,2276.474811,61.107727,0.0,0.0,6395.039684
min,1.000000,645.000000,2511.000000,2013.0,2013.0,-39863.000000
25%,66.000000,674.000000,2546.000000,2013.0,2013.0,0.000000
50%,121.000000,5142.000000,2575.000000,2013.0,2013.0,1.000000
75%,189.000000,5511.000000,2618.000000,2013.0,2013.0,17.000000
max,351.000000,5911.000000,2899.000000,2013.0,2013.0,739267.000000

In [117]:
df_céréales.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,891.000000,891.0,891.000000,891.0,891.0,891.000000
mean,130.005612,5511.0,2551.648709,2013.0,2013.0,2832.037037
std,74.807040,0.0,96.152834,0.0,0.0,16786.590126
min,1.000000,5511.0,2511.000000,2013.0,2013.0,0.000000
25%,67.000000,5511.0,2514.000000,2013.0,2013.0,7.000000
50%,129.000000,5511.0,2516.000000,2013.0,2013.0,95.000000
75%,197.500000,5511.0,2518.000000,2013.0,2013.0,824.000000
max,276.000000,5511.0,2805.000000,2013.0,2013.0,353699.000000

In [118]:
df_sousalimentation.describe()

         Code zone  Code Élément  Code Produit    Code année  Note
count  1020.000000        1020.0        1020.0  1.020000e+03   0.0
mean    129.264706        6132.0      210011.0  2.014202e+07   NaN
std      76.615019           0.0           0.0  1.415049e+04   NaN
min       1.000000        6132.0      210011.0  2.012201e+07   NaN
25%      62.500000        6132.0      210011.0  2.013202e+07   NaN
50%     127.500000        6132.0      210011.0  2.014202e+07   NaN
75%     193.250000        6132.0      210011.0  2.015202e+07   NaN
max     351.000000        6132.0      210011.0  2.016202e+07   NaN

# Question 1 : donnez le résultat de votre calcul pour l'année 2013.
Créez un dataframe contenant les informations de population de chaque pays. Calculez le nombre total d’humains sur la planète. Critiquez votre résultat. En cas d’anomalie, analysez et effectuer les corrections nécessaires.

In [119]:
#Assurez que les données ne concernent que 2013.
df_population['Année'] .unique()

array([2013])

Il n'y a que l'année 2013 dans la colonne année.
On peut additionner la population de chaque pays pour obtenir la population totale du monde

In [120]:
#somme la population des pays pour obtenir la population mondiale
np_population_2013 = (df_population['Valeur'].sum()*1000)
np_population_2013

8413993000

In [121]:
print('La population de la terre est' ,np_population_2013, 'Mais en 2013, la population de la Terre, selon les  Nations Unies, était de 7 210 581 976 (https://www.worldometers.info/world-population/world-population-by-year/)')

La population de la terre est 8413993000 Mais en 2013, la population de la Terre, selon les  Nations Unies, était de 7 210 581 976 (https://www.worldometers.info/world-population/world-population-by-year/)

Description du Symbole a deux valeurs, voyons ce qu'elles sont :

In [122]:
df_population ['Description du Symbole']. unique ()

array(['Donnée officielle',
       'Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées'],
      dtype=object)

In [123]:
#Le pays dont les informations ne sont pas complètement officielles
df_population_pas_officielles = (df_population['Description du Symbole']=='Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées')
df_population[df_population_pas_officielles]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [124]:
#Calcul de fréquence en Chine
df_population[df_population['Zone'].str.contains('hin')][['Code zone' ,'Zone', 'Valeur']]

    Code zone                       Zone   Valeur
33        351                      Chine  1416667
34         96   Chine - RAS de Hong-Kong     7204
35        128       Chine - RAS de Macao      566
36         41        Chine, continentale  1385567
37        214  Chine, Taiwan Province de    23330

In [126]:
#Supprimer la ligne Chine
df_population = df_population[df_population['Code zone'] != 351]

In [127]:
df_animaux = df_animaux[df_animaux['Code zone'] != 351]

In [128]:
df_vegetaux = df_vegetaux[df_vegetaux['Code zone'] != 351]

In [129]:
df_céréales = df_céréales[df_céréales['Code zone'] != 351]

In [130]:
df_sousalimentation = df_sousalimentation[df_sousalimentation['Code zone'] != 351 ]

In [131]:
df_population.shape

(174, 14)

La Chine est comptée deux fois, dans la ligne 33 les données non officielles sont en double
Si nous supprimons) la ligne contenant l'index 33 de notre ensemble de données.

In [125]:
nb_population= np_population_2013 - 1416667*1000
nb_population

6997326000

##### Note :

In [132]:
print('La population mondiale est de ',nb_population, '. La différence entre cela et le nombre dans les statistiques des Nations Unies car il y a beaucoup de petits pays non enregistrés dans les données.')

La population mondiale est de  6997326000 . La différence entre cela et le nombre dans les statistiques des Nations Unies car il y a beaucoup de petits pays non enregistrés dans les données.

Il y a 206 pays dans le monde. Parmi eux, 193 sont membres des Nations Unies selon https://fr.wikipedia.org/wiki/Organisation_des_Nations_unies_pour_l%27alimentation_et_l%27agriculture, mais dans la base de données actuelle 175

# Question 2 : 
Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique .

Parmi les documents sur les Bilans alimentaires que vous avez téléchargés, il y a des informations redondantes. En effet, pour un pays donné, certaines de ces informations peuvent se calculer à partir d'autres :

Production 
Importations
Exportations 
Variation de stock 
Disponibilité intérieure 
Semences 
Pertes 
Nourriture, aussi appelée Disponibilité alimentaire 
Aliments pour animaux 
Traitement
Autres utilisations 

Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique (pas besoin de coder ici :soleil: ). C'est une équation à 3 termes de type \(a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]\) ) faisant intervenir chacune des 11 quantités données ci dessus. Illustrez cette équation avec l'exemple du blé en France. Pour avoir un indice,

In [133]:
 #Création d'un dataframe "FRANCE / BLE" pour vérifier les données
df_blé_France= df_vegetaux [(df_vegetaux['Zone']== 'France') & (df_vegetaux['Produit']== 'Blé')]
df_blé_France.head(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
37487,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614.0,S,Données standardisées
37488,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,2055.0,S,Données standardisées

In [134]:
df_blé_France.shape

(15, 14)

# Une équation à 3 termes

Selon de https://www.fao.org/3/x9892f/x9892f03.htm Il y a diverses manières de définir les disponibilités et le fait est que plusieurs concepts différents sont utilisés. Les éléments considérés sont la production, les importations, les exportations et les variations des stocks (augmentation ou baisse). Incontestablement, la production, les importations et les baisses de stocks sont de véritables composantes des disponibilités. Les exportations et les augmentations des stocks pourraient toutefois être considérées comme des éléments de l'utilisation.

Les disponibilités peuvent donc être défi nies comme suit:

(a) Production + importations + baisses des stocks = disponibilités totales.

(b) Production + importations + variations des stocks (baisse ou augmentation) = quantités disponibles pour l'exportation et l'utilisation intérieure.

In [135]:
#Disponibilité intérieur
dispo_interieur1 = int(df_blé_France[df_blé_France['Élément'] == 'Disponibilité intérieure'].Valeur)
dispo_interieur1

20298

In [136]:
#Production + importations - exportations + variations des stocks 
dispo_interieur2= (int(df_blé_France[df_blé_France['Élément'] == 'Production'].Valeur) +
                   int(df_blé_France[df_blé_France['Élément'] == 'Importations - Quantité'].Valeur)-
                   int(df_blé_France[df_blé_France['Élément'] == 'Exportations - Quantité'].Valeur)+ 
                   int(df_blé_France[df_blé_France['Élément'] == 'Variation de stock'].Valeur))
dispo_interieur2

20298

In [137]:
#Nourriture + Aliments pour animaux + Semences + Traitement + Autres utilisations + Pertes
dispo_interieur3= (int(df_blé_France[df_blé_France['Code Élément'] == 5142].Valeur) +
                   int(df_blé_France[df_blé_France['Code Élément'] == 5521].Valeur)+
                   int(df_blé_France[df_blé_France['Code Élément'] == 5527].Valeur)+
                   int(df_blé_France[df_blé_France['Code Élément'] == 5131].Valeur)+ 
                   int(df_blé_France[df_blé_France['Code Élément'] == 5154].Valeur)+ 
                   int(df_blé_France[df_blé_France['Code Élément'] == 5123].Valeur))
dispo_interieur2

20298

### Réponse à la  question 2:
Ainsi, les trois termes sont exactement équivalents dans les données France/Blé, et l'équation a été vérifiée.

# Question 3 : 
Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

Vous ferez cela à partir de ces informations :

Population de chaque pays ;
Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour.
Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en g/personne/jour.

In [138]:
#Ajouter une colonne 'Radical' aux deux tables df_vegetaux et df_animaux
df_vegetaux['Radical'] = 'plante'
df_animaux['Radical'] = 'animal'

Les colonnes sont identiques, on peut donc fusionner les deux tables

In [139]:
#fusionner les deux tables
df_vegetaux_animaux = df_animaux.append (df_vegetaux) 
df_vegetaux_animaux.sample(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Radical
72773,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,156,Nouvelle-Zélande,5301,Disponibilité intérieure,2575,Huile Graines de Coton,2013,2013,Milliers de tonnes,1.0,S,Données standardisées,plante
95941,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,167,Tchéquie (la),5301,Disponibilité intérieure,2562,Palmistes,2013,2013,Milliers de tonnes,0.0,S,Données standardisées,plante

In [140]:
# Jointure avec la table population sur le Code zone 
df_vegetaux_animaux= pd.merge(df_vegetaux_animaux,df_population, on = 'Code zone' )

In [141]:
#  recréer un DataFrame avec les colonnes nécessaires
df_vegetaux_animaux= df_vegetaux_animaux[['Code Domaine_x', 'Domaine_x', 'Code zone', 'Zone_x', 'Code Élément_x',
       'Élément_x', 'Code Produit_x', 'Produit_x', 'Année_x',
       'Unité_x', 'Valeur_x','Radical', 'Valeur_y']]

#Changer les noms de colonnes
df_vegetaux_animaux = df_vegetaux_animaux.rename(columns= {'Code Domaine_x':'Code Domaine', 'Domaine_x':'Domaine', 'Code zone': 'Code zone', 'Zone_x': 'Zone', 'Code Élément_x': 'Code Élément',
       'Élément_x':'Élément', 'Code Produit_x':'Code Produit', 'Produit_x': 'Produit', 'Année_x': 'Année',
       'Unité_x':'Unité', 'Valeur_x':'Valeur','Radical':'Radical', 'Valeur_y':'Population'}) 
#Population par pays
df_vegetaux_animaux['Population'] = df_vegetaux_animaux['Population'] * 1000

In [142]:
# On créé un pivot avec les éléments en colonne
df_vegetaux_animaux = df_vegetaux_animaux.pivot_table( index = [ 'Code zone', 'Zone', 'Code Produit', 'Produit', 'Année',\
                                                                'Radical', 'Population']  , columns = 'Élément', \
                                                      values = 'Valeur', aggfunc = sum).reset_index()

In [143]:
df_vegetaux_animaux.head()

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,1,Arménie,2511,Blé,2013,plante,2977000,93.0,0.0,1024.0,...,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0
1,1,Arménie,2513,Orge,2013,plante,2977000,137.0,26.0,0.0,...,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0
2,1,Arménie,2514,Maïs,2013,plante,2977000,96.0,NaN,0.0,...,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,2013,plante,2977000,1.0,NaN,1.0,...,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,1,Arménie,2516,Avoine,2013,plante,2977000,4.0,NaN,2.0,...,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN

In [144]:
    # Calculs des disponibilités alimentaires totales par produit pour chaque pays (Kg) = Population * (Disponibilité de protéines en quantité (g/personne/jour))/1000 * 365
    df_vegetaux_animaux['Disponibilité alimentaire protéines totale (Kg)'] = (df_vegetaux_animaux['Population'] *df_vegetaux_animaux['Disponibilité de protéines en quantité (g/personne/jour)']/1000 * 365 )

In [145]:
# Calculs des disponibilités alimentaires totales par produit pour chaque pays(kcal) = Population * ( Disponibilité alimentaire (Kcal/personne/jour) * 365
df_vegetaux_animaux['Disponibilité alimentaire totale (Kcal)'] = (df_vegetaux_animaux['Population'] *df_vegetaux_animaux['Disponibilité alimentaire (Kcal/personne/jour)'] * 365 )

In [146]:
df_vegetaux_animaux  .describe()

Élément,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal)
count,15605.000000,15605.000000,15605.0,1.560500e+04,2720.000000,5496.000000,14241.000000,14015.000000,11794.000000,11561.000000,...,12226.000000,14852.000000,14015.000000,4278.000000,9180.000000,2091.000000,2292.000000,6776.000000,1.156100e+04,1.424100e+04
mean,125.334508,2631.376610,2013.0,4.219567e+07,479.501838,157.391376,34.789832,8.719368,1.283111,1.223608,...,110.596925,87.264543,347.931359,106.053763,1090.379085,73.974653,961.905323,-15.407615,1.792744e+07,5.170903e+11
std,73.151148,91.753174,0.0,1.502135e+08,4240.119637,5076.785816,107.287655,24.618223,3.680399,3.598686,...,1053.318990,717.372714,4475.704458,1113.100416,12067.344094,528.069224,10381.795904,549.834540,1.857800e+08,6.225858e+12
min,1.000000,2511.000000,2013.0,5.400000e+04,0.000000,0.000000,-21.000000,-1.930000,-0.030000,-0.370000,...,-41.000000,-201.000000,-246.000000,0.000000,0.000000,0.000000,-19.000000,-39863.000000,-1.717080e+07,-9.745588e+11
25%,63.000000,2558.000000,2013.0,2.839000e+06,0.000000,0.000000,0.000000,0.060000,0.010000,0.010000,...,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,3.942000e+03,0.000000e+00
50%,120.000000,2613.000000,2013.0,9.511000e+06,4.000000,0.000000,4.000000,0.830000,0.080000,0.100000,...,0.000000,2.000000,5.000000,4.000000,22.000000,2.000000,6.000000,0.000000,2.169341e+05,7.594920e+09
75%,188.000000,2732.000000,2013.0,2.893400e+07,74.000000,4.000000,21.000000,5.190000,0.630000,0.660000,...,9.000000,18.000000,52.000000,26.000000,191.250000,17.000000,69.000000,0.000000,2.510412e+06,8.094605e+10
max,276.000000,2899.000000,2013.0,1.385567e+09,150000.000000,347309.000000,1711.000000,430.760000,60.760000,54.970000,...,42797.000000,63381.000000,426850.000000,55047.000000,739267.000000,17060.000000,326711.000000,5284.000000,8.865481e+09,4.071142e+14

# Question 4 : Ratios énergétiques
A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg. Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.

Indication : La disponibilité alimentaire en kcal/personne/jour est calculée par la FAO en multipliant la quantité Nourriture par le ratio énergie/poids (en kcal/kg), puis en le divisant par la population du pays puis par 365. Ici, on vous demande juste de retrouver le ratio énergie/poids que la FAO a utilisé dans son calcul.

df_vegetaux_animaux['Nourriture'].replace(0, np.nan, inplace=True)

In [147]:
#Calcul du ratio énergie/poids (en kcal/kg)= La disponibilité alimentaire en kcal/kg / la quantité Nourriture
df_vegetaux_animaux['Ratio énergie/poids (kcal/kg)'] = (df_vegetaux_animaux['Disponibilité alimentaire totale (Kcal)']
                                                        / (df_vegetaux_animaux['Nourriture'] * 1000000))

In [148]:
df_vegetaux_animaux_Oeufs = df_vegetaux_animaux[df_vegetaux_animaux['Produit'] == 'Oeufs']
df_vegetaux_animaux_Oeufs .head()

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg)
74,1,Arménie,2744,Oeufs,2013,animal,2977000,NaN,0.0,45.0,...,1.0,35.0,NaN,34.0,0.0,NaN,NaN,3727055.15,4.889722e+10,1397.063571
144,2,Afghanistan,2744,Oeufs,2013,animal,30552000,NaN,NaN,5.0,...,29.0,40.0,5.0,18.0,2.0,NaN,NaN,4237562.40,5.575740e+10,1393.935000
226,3,Albanie,2744,Oeufs,2013,animal,3173000,NaN,NaN,46.0,...,0.0,40.0,7.0,48.0,0.0,NaN,NaN,4227229.25,5.327467e+10,1331.866750
319,4,Algérie,2744,Oeufs,2013,animal,39208000,NaN,NaN,27.0,...,0.0,316.0,10.0,347.0,21.0,NaN,NaN,32915116.00,3.863948e+11,1222.768481
400,7,Angola,2744,Oeufs,2013,animal,21472000,NaN,NaN,4.0,...,24.0,24.0,2.0,5.0,3.0,NaN,NaN,2586302.40,3.134912e+10,1306.213333

In [149]:

df_vegetaux_animaux_Oeufs.loc[~np.isfinite(df_vegetaux_animaux['Ratio énergie/poids (kcal/kg)'])] = 0

/Users/rowaidakanaan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [150]:
df_vegetaux_animaux_Oeufs ['Ratio énergie/poids (kcal/kg)'] .describe()

count     174.000000
mean     1306.642329
std       278.961694
min         0.000000
25%      1269.216989
50%      1383.072622
75%      1418.397547
max      2149.302500
Name: Ratio énergie/poids (kcal/kg), dtype: float64

Les calories dans les œufs (155 kcal) en 100 g, soit 1550 par kg, selon Wikipedia https://fr.wikipedia.org/wiki/%C5%92uf_(aliment) 
Il est curieux de voir à quel point les ratios énergétiques diffèrent de la valeur attendue, mais on constate que la valeur moyenne est proche (à 1306 kcal/kg).

In [151]:
#le pourcentage de protéines de chaque produit (pour chaque pays).
df_vegetaux_animaux['Pourcentage de protéines produit'] = (df_vegetaux_animaux['Disponibilité alimentaire protéines totale (Kg)']  / (df_vegetaux_animaux['Nourriture'] * 1000000))*100

In [152]:
df_vegetaux_animaux_Avoine = df_vegetaux_animaux[df_vegetaux_animaux['Produit'] == 'Avoine']
df_vegetaux_animaux_Avoine

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit
4,1,Arménie,2516,Avoine,2013,plante,2977000,4.0,NaN,2.0,...,1.0,0.0,5.0,0.0,NaN,NaN,97794.45,2.173210e+09,2173.210,9.779445
154,3,Albanie,2516,Avoine,2013,plante,3173000,25.0,NaN,1.0,...,0.0,1.0,27.0,1.0,NaN,NaN,34744.35,1.158145e+09,inf,inf
246,4,Algérie,2516,Avoine,2013,plante,39208000,107.0,NaN,0.0,...,0.0,6.0,113.0,8.0,NaN,0.0,0.00,0.000000e+00,NaN,NaN
338,7,Angola,2516,Avoine,2013,plante,21472000,0.0,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.00,0.000000e+00,NaN,NaN
419,8,Antigua-et-Barbuda,2516,Avoine,2013,plante,90000,0.0,NaN,15.0,...,0.0,NaN,NaN,NaN,NaN,0.0,21024.00,4.927500e+08,inf,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15156,255,Belgique,2516,Avoine,2013,plante,11104000,89.0,NaN,1.0,...,2.0,0.0,21.0,1.0,NaN,NaN,162118.40,4.052960e+09,2026.480,8.105920
15251,256,Luxembourg,2516,Avoine,2013,plante,530000,3.0,NaN,9.0,...,1.0,NaN,6.0,0.0,NaN,0.0,71576.50,1.741050e+09,1741.050,7.157650
15344,272,Serbie,2516,Avoine,2013,plante,9511000,84.0,NaN,1.0,...,1.0,1.0,88.0,4.0,NaN,NaN,138860.60,3.471515e+09,3471.515,13.886060
15436,273,Monténégro,2516,Avoine,2013,plante,621000,1.0,NaN,0.0,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,0.000000e+00,NaN,NaN
15524,276,Soudan,2516,Avoine,2013,plante,37964000,NaN,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN

In [153]:

df_vegetaux_animaux_Avoine.loc[~np.isfinite(df_vegetaux_animaux['Pourcentage de protéines produit']), 'Pourcentage de protéines produit'] = 0

/Users/rowaidakanaan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [154]:
df_vegetaux_animaux_Avoine ['Pourcentage de protéines produit'] .describe()

count    167.000000
mean       4.602900
std        4.413951
min        0.000000
25%        0.000000
50%        5.690496
75%        8.737434
max       13.886060
Name: Pourcentage de protéines produit, dtype: float64

Le pourcentage de protéines dans l'avoine est Protéine.
13.15 g selon https://en.wikipedia.org/wiki/Oat#Nutrient_profile

#### L’Agence considère que la référence nutritionnelle en protéines des adultes en bonne santé (RNP) est de 0,83 g/kg/j.. La moyenne arithmétique indique que les humains obtiennent leurs besoins caloriques. Mais en examinant l'écart type et la valeur la plus élevée et la plus faible, nous concluons que la répartition des produits riches en calories et en protéines est inégale d'un pays à l'autre.

# Question 5 :
Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.
Étonnamment, il arrive que ce ratio soit différent en fonction du pays. Il faudra donc réaliser pour chaque aliment une moyenne sur les différents pays. Vous créerez donc une nouvelle table grâce à une agrégation. Attention à bien retirer les valeurs égales à 0 afin de ne pas fausser le calcul de la moyenne.
Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

In [155]:
# Nettoyage des inf et NaN dans le DataFrame en les plaçant à 0
df_vegetaux_animaux.loc[~np.isfinite(df_vegetaux_animaux['Ratio énergie/poids (kcal/kg)']), 'Ratio énergie/poids (kcal/kg)'] = 0
df_vegetaux_animaux.loc[~np.isfinite(df_vegetaux_animaux['Pourcentage de protéines produit']), 'Pourcentage de protéines produit'] = 0
df_vegetaux_animaux['Ratio énergie/poids (kcal/kg)'].fillna(0)
df_vegetaux_animaux['Pourcentage de protéines produit'].fillna(0)

0         8.525240
1         0.000000
2         0.000000
3         0.000000
4         9.779445
           ...
15600     0.000000
15601    11.085488
15602     8.083168
15603     3.704100
15604     0.000000
Name: Pourcentage de protéines produit, Length: 15605, dtype: float64

In [156]:
# Créer un nouveau DataFrame avec  les valaurs supérieur à 0
df_plus_calorique = df_vegetaux_animaux[df_vegetaux_animaux['Ratio énergie/poids (kcal/kg)'] > 0]

In [157]:
# On créé une fonction pour appeler les différents Tops
def affichage_top(dfTop, filtreTop, volumeTop):
    dfTop.sort_values(by=[filtreTop], inplace=True, ascending=False)
    return dfTop.head(volumeTop)

# On affiche le top 20 pour séléctionner les 5 premiers ensuite
affichage_top(df_plus_calorique,'Ratio énergie/poids (kcal/kg)',20)

<ipython-input-157-a217599c0444>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfTop.sort_values(by=[filtreTop], inplace=True, ascending=False)

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit
2433,40,Chili,2586,Huil Plantes Oleif Autr,2013,plante,17620000,NaN,17.0,3.0,...,1.0,NaN,1.0,NaN,NaN,0.0,192939.0,1.929390e+10,19293.900000,19.29390
7520,117,République de Corée,2572,Huile d'Arachide,2013,plante,49263000,NaN,NaN,1.0,...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1.798100e+10,17980.995000,0.00000
7530,117,République de Corée,2582,Huile de Germe de Maïs,2013,plante,49263000,NaN,NaN,1.0,...,1.0,NaN,2.0,NaN,NaN,7.0,NaN,1.798100e+10,17980.995000,0.00000
10938,171,Philippines,2580,Huile d'Olive,2013,plante,98394000,NaN,NaN,1.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,3.591381e+10,17956.905000,0.00000
2623,44,Colombie,2579,Huile de Sésame,2013,plante,48321000,NaN,NaN,1.0,...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1.763716e+10,17637.165000,0.00000
12604,203,Espagne,2586,Huil Plantes Oleif Autr,2013,plante,46927000,NaN,96.0,1.0,...,1.0,NaN,73.0,NaN,0.0,0.0,0.0,1.712836e+10,17128.355000,0.00000
7276,114,Kenya,2575,Huile Graines de Coton,2013,plante,44354000,NaN,NaN,1.0,...,1.0,NaN,1.0,NaN,NaN,0.0,NaN,1.618921e+10,16189.210000,0.00000
8997,138,Mexique,2572,Huile d'Arachide,2013,plante,122332000,NaN,NaN,1.0,...,3.0,NaN,3.0,NaN,NaN,NaN,NaN,4.465118e+10,14883.726667,0.00000
279,4,Algérie,2578,Huile de Coco,2013,plante,39208000,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.431092e+10,14310.920000,0.00000
11032,173,Pologne,2582,Huile de Germe de Maïs,2013,plante,38217000,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.394920e+10,13949.205000,0.00000
12412,199,Slovaquie,2580,Huile d'Olive,2013,plante,5450000,NaN,0.0,7.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.392475e+10,13924.750000,0.00000
15554,276,Soudan,2576,Huile de Palmistes,2013,plante,37964000,NaN,NaN,2.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.771372e+10,13856.860000,0.00000
15575,276,Soudan,2633,Feve de Cacao,2013,plante,37964000,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,138568.6,1.385686e+10,13856.860000,13.85686
2528,41,"Chine, continentale",2580,Huile d'Olive,2013,plante,1385567000,NaN,3.0,1.0,...,37.0,NaN,NaN,NaN,NaN,0.0,NaN,5.057320e+11,13668.431216,0.00000
3522,57,Bélarus,2578,Huile de Coco,2013,plante,9357000,NaN,NaN,4.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.366122e+10,13661.220000,0.00000
10468,165,Pakistan,2581,Huile de Son de Riz,2013,plante,182143000,NaN,NaN,1.0,...,5.0,NaN,5.0,NaN,NaN,NaN,NaN,6.648220e+10,13296.439000,0.00000
5699,96,Chine - RAS de Hong-Kong,2579,Huile de Sésame,2013,plante,7204000,NaN,NaN,5.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.314730e+10,13147.300000,0.00000
5693,96,Chine - RAS de Hong-Kong,2573,Huile de Tournesol,2013,plante,7204000,NaN,NaN,5.0,...,1.0,NaN,NaN,NaN,NaN,0.0,NaN,1.314730e+10,13147.300000,0.00000
15287,256,Luxembourg,2586,Huil Plantes Oleif Autr,2013,plante,530000,NaN,1.0,67.0,...,1.0,NaN,0.0,NaN,NaN,0.0,7738.0,1.296115e+10,12961.150000,0.77380
11540,184,Rwanda,2586,Huil Plantes Oleif Autr,2013,plante,11777000,NaN,17.0,3.0,...,1.0,NaN,NaN,NaN,NaN,1.0,0.0,1.289582e+10,12895.815000,0.00000

In [158]:
# Puis on applique un group by sur le Produit 
df_plus_calorique = df_plus_calorique.groupby('Produit').mean().reset_index()

#Trier pour obtenir les produits les plus caloriques
affichage_top(df_plus_calorique,'Ratio énergie/poids (kcal/kg)',20)

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit
43,Huiles de Foie de Poisso,193.000000,2782.0,2013.0,2.041050e+07,NaN,0.000000,10.000000,0.390000,1.070000,...,5.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000e+00,4.732334e+10,9982.932500,0.000000
41,Huile de Sésame,119.200000,2579.0,2013.0,1.173457e+08,NaN,57.200000,9.314286,0.381429,1.046857,...,20.228571,NaN,31.906250,NaN,1.000000,0.000000,0.000000e+00,1.841101e+11,9433.744729,0.000000
40,Huile de Son de Riz,119.166667,2581.0,2013.0,2.863371e+08,NaN,66.000000,7.916667,0.328333,0.881667,...,70.166667,NaN,89.333333,NaN,NaN,-16.500000,4.640756e+05,5.920899e+11,9361.549883,0.057721
44,Huiles de Poissons,77.333333,2781.0,2013.0,6.568467e+07,21.50,4.000000,34.000000,1.380000,3.780000,...,22.333333,NaN,39.666667,NaN,NaN,0.000000,0.000000e+00,2.012756e+11,9003.715504,0.000000
32,Huile d'Arachide,129.328947,2572.0,2013.0,7.243880e+07,NaN,47.916667,26.000000,1.073947,2.941579,...,50.513158,0.500000,69.305556,NaN,0.000000,-0.727273,5.789943e+03,4.427298e+11,8935.765811,0.013332
33,Huile d'Olive,126.235294,2580.0,2013.0,4.734812e+07,0.00,6.098039,28.188235,1.164471,3.189882,...,32.400000,NaN,126.571429,NaN,NaN,-10.039216,0.000000e+00,2.886831e+11,8931.223447,0.000000
36,Huile de Germe de Maïs,131.269231,2582.0,2013.0,5.508121e+07,NaN,6.727273,20.256410,0.839231,2.286923,...,28.089744,1.666667,48.895833,NaN,0.000000,1.882353,3.993465e+04,2.437923e+11,8871.762566,0.019217
30,Huil Plantes Oleif Autr,131.041667,2586.0,2013.0,4.624730e+07,0.00,29.554622,21.691667,0.929833,2.455167,...,14.541667,0.200000,42.588235,NaN,6.186047,1.764151,5.135248e+04,1.199714e+11,8848.222893,0.552343
38,Huile de Palmistes,138.346939,2576.0,2013.0,7.860473e+07,NaN,135.333333,15.040816,0.628367,1.708980,...,39.265306,8.666667,211.966667,NaN,0.000000,1.565217,7.863991e+04,3.477598e+11,8789.540277,0.068398
31,Huile Graines de Coton,130.555556,2575.0,2013.0,8.473535e+07,NaN,33.419355,21.349206,0.888889,2.413333,...,62.523810,2.000000,85.728814,NaN,0.000000,0.377778,1.602801e+05,5.444908e+11,8750.320136,0.062696
37,Huile de Palme,128.514286,2577.0,2013.0,5.593403e+07,0.00,277.171429,85.285714,3.539810,9.638286,...,144.895238,42.428571,1410.736842,NaN,0.333333,-12.966292,3.821988e+05,1.263250e+12,8719.419872,0.136067
42,Huile de Tournesol,128.685484,2573.0,2013.0,4.956136e+07,NaN,46.070423,74.000000,3.057581,8.367097,...,82.193548,2.000000,172.949367,NaN,0.076923,2.063830,2.098927e+05,7.198919e+11,8693.245772,0.043662
39,Huile de Soja,124.940299,2571.0,2013.0,5.022874e+07,2.75,245.915493,81.798507,3.400522,9.241642,...,181.626866,37.000000,484.397727,NaN,0.000000,0.427350,7.428418e+05,1.569569e+12,8635.808245,0.059843
35,Huile de Colza&Moutarde,128.348485,2574.0,2013.0,7.668285e+07,700.00,278.272727,62.893939,2.621061,7.109848,...,148.530303,1.500000,508.260870,NaN,0.142857,1.180000,2.212984e+05,1.301324e+12,8627.372452,0.101467
34,Huile de Coco,135.397260,2578.0,2013.0,7.583960e+07,NaN,20.230769,20.520548,0.849452,2.316438,...,27.643836,0.500000,58.148148,NaN,0.000000,5.048780,8.720215e+04,2.384928e+11,8565.739255,0.132093
28,Graisses Animales Crue,127.882759,2737.0,2013.0,4.798956e+07,155.60,76.892857,45.593103,2.301241,5.060207,...,71.668966,7.333333,160.317241,NaN,6.289474,1.314815,4.568762e+05,5.105123e+11,7583.862063,1.200466
9,"Beurre, Ghee",126.968992,2740.0,2013.0,5.197145e+07,1.00,1.400000,31.713178,1.589612,3.587752,...,75.333333,22.750000,88.754545,NaN,NaN,1.553571,4.951907e+05,5.884541e+11,7331.424291,0.712111
60,Palmistes,39.000000,2562.0,2013.0,1.335100e+07,NaN,NaN,8.000000,0.500000,0.500000,...,3.000000,4.000000,33.500000,NaN,57.000000,0.000000,0.000000e+00,1.623776e+10,6496.635000,0.000000
84,Sésame,129.898551,2561.0,2013.0,7.676384e+07,NaN,6.333333,10.289855,0.651884,0.899275,...,20.753623,3.648649,78.780000,1.613636,77.607143,-6.459459,3.604130e+06,1.228803e+11,5796.120413,17.471215
5,Arachides Decortiquees,129.220588,2556.0,2013.0,4.733350e+07,1.00,70.277778,25.625000,1.693897,2.126544,...,89.639706,15.530120,342.130435,15.658537,162.256098,-23.674699,2.061973e+07,4.774449e+11,5702.900100,25.169062

### Réponse à la question \
Les 5 aliments parmi les 20 aliments les plus caloriques\
Huiles de Foie de Poisso\
Huile de Sésame\
Huile de Son de Riz\
Huiles de Poissons \
Huile d'Arachide

In [159]:
# Créer un nouveau DataFrame avec  les valaurs supérieur à 0

df_plus_protéines= df_vegetaux_animaux[df_vegetaux_animaux['Pourcentage de protéines produit'] > 0]

# Puis on applique un group by sur le Produit 
df_plus_protéines = df_plus_protéines.groupby('Produit').mean().reset_index()

# On affiche le top 20 pour séléctionner les 5 premiers ensuite
affichage_top(df_plus_protéines,'Pourcentage de protéines produit',5)

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit
26,Graines Colza/Moutarde,33.000000,2558.0,2013.0,3.518200e+07,739.000000,NaN,16.000000,1.000000,1.000000,...,45.000000,541.000000,18109.000000,73.000000,6700.000000,-2980.000000,1.284143e+07,2.054629e+11,4565.841778,28.536511
73,Soja,134.626506,2555.0,2013.0,7.250643e+07,517.000000,90.428571,12.771084,1.463735,0.569036,...,128.289157,54.702128,3377.333333,106.071429,3377.381818,-27.728814,4.149991e+07,4.342063e+11,2376.843544,28.533053
5,Arachides Decortiquees,127.615942,2556.0,2013.0,4.923415e+07,1.000000,70.277778,25.253623,1.669783,2.096232,...,88.420290,15.235294,337.936170,15.357143,160.571429,-23.392857,2.033977e+07,4.705254e+11,5620.249374,25.146613
62,Pois,134.162162,2547.0,2013.0,5.691562e+07,94.200000,5.600000,12.000000,1.282613,0.059279,...,52.513514,6.307692,140.024691,12.575758,0.000000,-10.775862,1.169065e+07,1.749514e+11,3443.737407,22.324375
44,Légumineuses Autres,128.507576,2549.0,2013.0,5.059539e+07,95.746269,40.800000,36.393939,3.888258,0.246591,...,206.166667,16.347826,320.313559,16.938053,0.000000,1.628866,4.353251e+07,7.139597e+11,3365.193745,21.971635

 LES 5 aliments parmi les 20 aliments les plus riches en protéines.\
Graines Colza/Moutarde\
Soja\
Arachides Decortiquees\
Pois\
Légumineuses Autres

# Question 6 : 
Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

In [160]:
df_vegetaux_animaux['Radical'].unique()

array(['plante', 'animal'], dtype=object)

In [161]:
# Création d'un nouveau DataFrame contenant uniquement les végétaux
df_végétaux_dispo_intérieure = df_vegetaux_animaux[df_vegetaux_animaux['Radical'] == 'plante']

# Ajout d'une nouvelle colonne pour Calcul  la disponibilité intérieure en Kcal 
df_végétaux_dispo_intérieure['Dispo intérieure (Kcal)'] = (df_végétaux_dispo_intérieure['Disponibilité intérieure'] * 1000000  *  df_végétaux_dispo_intérieure['Ratio énergie/poids (kcal/kg)'])
# Ajout d'une nouvelle colonne pour le calcul en protéines
df_végétaux_dispo_intérieure['Dispo intérieure protéines'] = ((df_végétaux_dispo_intérieure['Disponibilité intérieure'] * 1000000)  *  (df_végétaux_dispo_intérieure['Pourcentage de protéines produit' ]/100))

df_végétaux_dispo_intérieure.head()

<ipython-input-161-05546cda138d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_végétaux_dispo_intérieure['Dispo intérieure (Kcal)'] = (df_végétaux_dispo_intérieure['Disponibilité intérieure'] * 1000000  *  df_végétaux_dispo_intérieure['Ratio énergie/poids (kcal/kg)'])
<ipython-input-161-05546cda138d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_végétaux_dispo_intérieure['Dispo intérieure protéines'] = ((df_végétaux_dispo_intérieure['Disponibilité intérieure'] * 1000000)  *  (df_végétaux_dispo_intérieure['Pourcentage de protéines produit' ]/100))

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,Dispo intérieure (Kcal),Dispo intérieure protéines
0,1,Arménie,2511,Blé,2013,plante,2977000,93.0,0.0,1024.0,...,312.0,30.0,10.0,-118.0,33163184.60,1.112684e+12,2860.368946,8.525240,1.584644e+12,4.722983e+07
1,1,Arménie,2513,Orge,2013,plante,2977000,137.0,26.0,0.0,...,189.0,14.0,7.0,0.0,0.00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00
2,1,Arménie,2514,Maïs,2013,plante,2977000,96.0,NaN,0.0,...,21.0,0.0,NaN,NaN,10866.05,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00
3,1,Arménie,2515,Seigle,2013,plante,2977000,1.0,NaN,1.0,...,1.0,0.0,NaN,0.0,21732.10,1.086605e+09,0.000000,0.000000,0.000000e+00,0.000000e+00
4,1,Arménie,2516,Avoine,2013,plante,2977000,4.0,NaN,2.0,...,5.0,0.0,NaN,NaN,97794.45,2.173210e+09,2173.210000,9.779445,1.303926e+10,5.867667e+05

In [162]:
#Regroupez par produit avec le total pour visualiser les résultats globaux par produit.
df_végétaux_dispo_intérieure_produits = df_végétaux_dispo_intérieure.groupby(by = 'Produit').sum().reset_index()
df_végétaux_dispo_intérieure_produits.head()

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,Dispo intérieure (Kcal),Dispo intérieure protéines
0,"Agrumes, Autres",20116,418240,322080,6827946000,0.0,25.0,128.0,209.07,0.78,...,11758.0,0.0,72.0,46.0,5.205833e+07,2.473770e+12,9212.298679,20.803637,2.658576e+12,5.659980e+07
1,"Alcool, non Comestible",20111,425440,322080,6740769000,0.0,21769.0,0.0,0.00,0.00,...,20763.0,0.0,0.0,950.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00
2,Aliments pour enfants,21379,458280,344223,6962149000,0.0,0.0,652.0,65.14,5.06,...,0.0,0.0,0.0,8.0,1.181439e+08,2.795015e+12,306339.084023,1399.023413,2.772760e+12,1.168082e+08
3,Ananas,21118,439824,338184,6859134000,0.0,3.0,659.0,653.61,1.90,...,24274.0,0.0,8.0,349.0,5.490385e+07,7.077457e+12,53169.043584,33.561638,7.934484e+12,6.110162e+07
4,Arachides Decortiquees,21372,434520,342210,6934565000,1.0,1265.0,3662.0,241.59,304.42,...,31920.0,1295.0,13620.0,-1965.0,2.808105e+09,6.495882e+13,775594.413576,3470.232631,1.566551e+14,6.771286e+09

In [163]:
#Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal et protéines.
disponibilité_intérieure_mondiale_kcal = df_végétaux_dispo_intérieure_produits['Dispo intérieure (Kcal)'].sum()

disponibilité_intérieure_mondiale_protéines = df_végétaux_dispo_intérieure_produits['Dispo intérieure protéines'].sum()

### Réponse 6:

In [164]:

print( 'La disponibilité intérieure mondiale des  produits végétaux est ','{:,}'.format(int(disponibilité_intérieure_mondiale_kcal)).replace(',', ' ') , ' kcal' )

print( 'La disponibilité intérieure mondiale des  produits végétaux est ','{:,}'.format(int(disponibilité_intérieure_mondiale_protéines)).replace(',', ' ') , ' protéines' )

La disponibilité intérieure mondiale des  produits végétaux est  12 312 091 265 143 276  kcal
La disponibilité intérieure mondiale des  produits végétaux est  290 177 334 142  protéines

# Question 7 :
Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

Calculez combien d'humains pourraient être nourris si tous les produits végétaux disponibles localement dans le monde étaient utilisés pour l'alimentation en termes de calories.\
Selon https://fr.wikipedia.org/wiki/Ration_alimentaire, une personne normale a besoin de 2500 calories par jour

In [165]:
#Calculez combien d'humains pourraient être nourris si tous les produits végétaux disponibles localement dans le monde étaient utilisés pour l'alimentation en termes de calories.

Énergieune_personne_besoin_jour = 2500  
Énergieune_personne_besoin_an = Énergieune_personne_besoin_jour * 365

#Calculez combien de personnes seraient nourries si tous les produits végétaux disponibles dans le monde étaient utilisés pour l'alimentation en termes de calories.
proportion_nourries_tousvégétaux_calories = disponibilité_intérieure_mondiale_kcal/ Énergieune_personne_besoin_an

In [166]:
print('Le nombre de personnes qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en caloriesest ',"{0:,}".format(proportion_nourries_tousvégétaux_calories))

print('La proportion de personnes qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en  caloriesest est  ',proportion_nourries_tousvégétaux_calories/nb_population * 100, '%')

Le nombre de personnes qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en caloriesest  13,492,702,756.321398
La proportion de personnes qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en  caloriesest est   192.8265562633697 %


Selon https://www.cerin.org/breves-scientifiques/actualites-en-bref-et-articles-selectionnes-pour-vous-nutri-doc-n118/, une personne normale a besoin de 55 g de protéines par jour.

In [167]:
#Calculez combien de personnes seraient nourries si tous les produits végétaux disponibles dans le monde pour l'alimentation étaient utilisés en termes de protéines(kg).
nb_besoin_protéique_journalier = 55.    
nb_besoin_protéique_kg_an = (nb_besoin_protéique_journalier/1000) * 365
proportion_nourries_tousvégétaux_protéines =  disponibilité_intérieure_mondiale_protéines / nb_besoin_protéique_kg_an

In [168]:
print('Le nombre de personnes  de la population mondiale qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en protéines est',
      "{0:,}".format(proportion_nourries_tousvégétaux_protéines))

print( 'pourcentage de le  nombre de personnes de la population mondiale  qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en  protéines est'
      ,"{0:,}".format(proportion_nourries_tousvégétaux_protéines/nb_population * 100), '%')

Le nombre de personnes  de la population mondiale qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en protéines est 14,454,661,725.63563
pourcentage de le  nombre de personnes de la population mondiale  qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en  protéines est 206.57407880718478 %

##### Il y a assez de nourriture pour tout le monde, mais il y a un surplus, ce qui signifie qu'il y a du gaspillage alimentaire dans les pays riches

# Question 8 : 
Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [169]:
#Ajout de deux colonnes au dataframe df_dispo_interieure_vegetaux pour les calculs Q8

df_végétaux_dispo_intérieure['Dispo végétaux_animaux_pertes(Kcal)'] = ((df_végétaux_dispo_intérieure['Disponibilité alimentaire totale (Kcal)'])
                                                               + ((df_végétaux_dispo_intérieure['Aliments pour animaux'] * 1000000) 
                                                                  * df_végétaux_dispo_intérieure['Ratio énergie/poids (kcal/kg)'])
                                                               + ((df_végétaux_dispo_intérieure['Pertes'] * 1000000) 
                                                                  * df_végétaux_dispo_intérieure['Ratio énergie/poids (kcal/kg)'])
                                                              )
df_végétaux_dispo_intérieure['Dispo végétaux_animaux_pertes protéines(Kg)'] = (df_végétaux_dispo_intérieure['Disponibilité alimentaire protéines totale (Kg)']
                                                                      + (((df_végétaux_dispo_intérieure['Aliments pour animaux'] 
                                                                         + df_végétaux_dispo_intérieure['Pertes']) * 1000000)
                                                                       * (df_végétaux_dispo_intérieure['Pourcentage de protéines produit']/100))
                                                                      )




df_végétaux_dispo_intérieure.head()

<ipython-input-169-decfd514ce2e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_végétaux_dispo_intérieure['Dispo végétaux_animaux_pertes(Kcal)'] = ((df_végétaux_dispo_intérieure['Disponibilité alimentaire totale (Kcal)'])
<ipython-input-169-decfd514ce2e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_végétaux_dispo_intérieure['Dispo végétaux_animaux_pertes protéines(Kg)'] = (df_végétaux_dispo_intérieure['Disponibilité alimentaire protéines totale (Kg)']

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,Dispo intérieure (Kcal),Dispo intérieure protéines,Dispo végétaux_animaux_pertes(Kcal),Dispo végétaux_animaux_pertes protéines(Kg)
0,1,Arménie,2511,Blé,2013,plante,2977000,93.0,0.0,1024.0,...,10.0,-118.0,33163184.60,1.112684e+12,2860.368946,8.525240,1.584644e+12,4.722983e+07,1.470230e+12,4.381973e+07
1,1,Arménie,2513,Orge,2013,plante,2977000,137.0,26.0,0.0,...,7.0,0.0,0.00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,1,Arménie,2514,Maïs,2013,plante,2977000,96.0,NaN,0.0,...,NaN,NaN,10866.05,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.086605e+04
3,1,Arménie,2515,Seigle,2013,plante,2977000,1.0,NaN,1.0,...,NaN,0.0,21732.10,1.086605e+09,0.000000,0.000000,0.000000e+00,0.000000e+00,1.086605e+09,2.173210e+04
4,1,Arménie,2516,Avoine,2013,plante,2977000,4.0,NaN,2.0,...,NaN,NaN,97794.45,2.173210e+09,2173.210000,9.779445,1.303926e+10,5.867667e+05,1.086605e+10,4.889722e+05

In [170]:
# Aggrégation par produit avec somme.
df_végétaux_dispo_intérieure_produits = df_végétaux_dispo_intérieure.groupby(by = 'Produit').sum().reset_index()

In [171]:
# On calcul les sommes au niveau mondiale
dispo_alimentaire_modiale_végétaux_kcal = df_végétaux_dispo_intérieure_produits['Dispo végétaux_animaux_pertes(Kcal)'].sum()
dispo_alimentaire_modiale_végétaux_protéines_kg = df_végétaux_dispo_intérieure_produits['Dispo végétaux_animaux_pertes protéines(Kg)'].sum()

In [172]:
dispo_alimentaire_modiale_végétaux_protéines_kg = dispo_alimentaire_modiale_végétaux_protéines_kg/ nb_besoin_protéique_kg_an

dispo_alimentaire_modiale_végétaux_kcal = dispo_alimentaire_modiale_végétaux_kcal/ Énergieune_personne_besoin_an

In [173]:
print('Le nombre de personnes  de la population mondiale qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux  et la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés  en calories est',
      "{0:,}".format(dispo_alimentaire_modiale_végétaux_kcal))

print( 'pourcentage de le  nombre de personnes de la population mondiale  qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux et la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture en calories est'
      ,"{0:,}".format(dispo_alimentaire_modiale_végétaux_kcal/nb_population * 100), '%')

Le nombre de personnes  de la population mondiale qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux  et la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés  en calories est 6,688,620,163.895977
pourcentage de le  nombre de personnes de la population mondiale  qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux et la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture en calories est 95.588231331454 %

In [174]:
print('Le nombre de personnes  de la population mondiale qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture en  protéines est',
      "{0:,}".format(dispo_alimentaire_modiale_végétaux_protéines_kg))

print( 'pourcentage de le  nombre de personnes de la population mondiale  qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux et produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture en  protéines est'
      ,  "{0:,}".format(dispo_alimentaire_modiale_végétaux_protéines_kg/nb_population * 100), '%')

Le nombre de personnes  de la population mondiale qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture en  protéines est 7,991,223,730.57886
pourcentage de le  nombre de personnes de la population mondiale  qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux et produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture en  protéines est 114.20396492286997 %

# Question 9 :
Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [175]:
df_vegetaux_animaux.head(2)

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit
0,1,Arménie,2511,Blé,2013,plante,2977000,93.0,0.0,1024.0,...,389.0,32.0,312.0,30.0,10.0,-118.0,33163184.6,1.112684e+12,2860.368946,8.52524
1,1,Arménie,2513,Orge,2013,plante,2977000,137.0,26.0,0.0,...,0.0,15.0,189.0,14.0,7.0,0.0,0.0,0.000000e+00,0.000000,0.00000

In [176]:
#Création du dataframe (df9) selon la disponibilité alimentaire mondiale en Kcal et Kg de protéines
df9 = df_vegetaux_animaux[['Disponibilité alimentaire protéines totale (Kg)', 'Disponibilité alimentaire totale (Kcal)']]
df9.head()

Élément,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal)
0,33163184.60,1.112684e+12
1,0.00,0.000000e+00
2,10866.05,0.000000e+00
3,21732.10,1.086605e+09
4,97794.45,2.173210e+09

In [177]:
#Ma disponibilité de protéines est exprimée en Kcal, elle sera *1000 pour avoir une base en grammes

humain_nourris_dispoalim_kcal = round(((df9['Disponibilité alimentaire totale (Kcal)']).sum() / (Énergieune_personne_besoin_an)), 2)
humain_nourris_dispoalim_kcal

8070009227.6

In [178]:
pourcentage_humain_nourris_dispoalim_cal = round((humain_nourris_dispoalim_kcal /nb_population * 100),2)
pourcentage_humain_nourris_dispoalim_cal

115.33

In [179]:
#Ma disponibilité de protéines est exprimée en Kg, elle sera *1000 pour avoir une base en grammes
humain_nourris_dispoalim_kgprot = round(((df9['Disponibilité alimentaire protéines totale (Kg)']).sum() / (nb_besoin_protéique_kg_an)), 2)
humain_nourris_dispoalim_kgprot

10324243092.18

In [180]:
pourcentage_humain_nourris_dispoalim_gprot = round((humain_nourris_dispoalim_kgprot /nb_population * 100),2)
pourcentage_humain_nourris_dispoalim_gprot

147.55

# Question 10 :
A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [181]:
df_sousalimentation.head(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN

In [185]:
df_sousalimentation_an = df_sousalimentation.pivot_table(index = ['Code zone','Zone','Code Produit','Produit'], 
                                              columns = 'Année', values = 'Valeur', aggfunc = sum).reset_index()



# On remplace les valeur de type <0.1
df_sousalimentation_an.loc[df_sousalimentation_an['2012-2014'] == '<0.1'] = 0


# Puis on passe la colonne en type numeric
df_sousalimentation_an['2012-2014'] = df_sousalimentation_an['2012-2014'].apply(pd.to_numeric)

In [186]:
df_sousalimentation_an.head(2)

Année,Code zone,Zone,Code Produit,Produit,2012-2014,2013-2015,2014-2016,2015-2017,2016-2018
0,1,Arménie,210011,Nombre de personnes sous-alimentées (millions)...,0.1,0.1,0.1,0.1,0.1
1,2,Afghanistan,210011,Nombre de personnes sous-alimentées (millions)...,7.9,8.8,9.6,10.2,10.6

In [188]:
nombre_personnes_sousalimentées_monde = (df_sousalimentation_an['2012-2014'].sum())*1000000
print(int(nombre_personnes_sousalimentées_monde),'de personnes sous-nutries pour 2013')

743700000 de personnes sous-nutries pour 2013

In [189]:
# On calcul le ratio de personnes sousalimentées sur la population totale
ratio_sousnutries = ((nombre_personnes_sousalimentées_monde) / nb_population)*100

In [190]:
print('La proportion de la population mondiale souffrant de sous-alimentation est de ', ratio_sousnutries , '% pour année 2013 .' )

La proportion de la population mondiale souffrant de sous-alimentation est de  10.628345742359295 % pour année 2013 .

##### Ceci est cohérent avec ce qui a été publié par la FAO dans son rapport https://www.fao.org/publications/sofi/2013/fr/ . Environ 842 millions de personnes dans le monde, soit environ une personne sur huit, souffraient de faim chronique en 2011-2013, ce qui signifie qu'elles n'avaient pas assez de nourriture pour mener une vie saine et active, selon un rapport publié par les organisations spécialisées de les Nations Unies.

# Question 11 :  En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?
En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

Établissez la liste des produits (ainsi que leur code) considéré comme des céréales selon la FAO.

Repérez dans vos données les informations concernant les céréales (par exemple en créant une colonne de type booléen nommée "is_cereal").

In [191]:
# Création d'une liste contenant toutes les céréales

liste_céréales = pd.Series(df_céréales['Produit'].unique())
liste_céréales

0                 Blé
1    Riz (Eq Blanchi)
2                Orge
3                Maïs
4              Millet
5              Seigle
6              Avoine
7              Sorgho
8    Céréales, Autres
dtype: object

In [219]:
df_vegetaux_animaux['is_Céréales']= df_vegetaux_animaux['Produit'].isin(liste_céréales)
df_vegetaux_animaux.head(2)

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,is_Céréales
0,1,Arménie,2511,Blé,2013,plante,2977000,93.0,0.0,1024.0,...,32.0,312.0,30.0,10.0,-118.0,33163184.6,1.112684e+12,2860.368946,8.52524,True
1,1,Arménie,2513,Orge,2013,plante,2977000,137.0,26.0,0.0,...,15.0,189.0,14.0,7.0,0.0,0.0,0.000000e+00,0.000000,0.00000,True

In [215]:
#Poids des céréales pour l'animal
céréales_aliments_animaux =  df_vegetaux_animaux[df_vegetaux_animaux['is_Céréales'] == True]['Aliments pour animaux'].sum()

#Poids des céréales destiné à l'homme
céréales_aliments_homme = df_vegetaux_animaux[df_vegetaux_animaux['is_Céréales'] == True]['Nourriture'].sum()

1029010.0

In [195]:
#Pourcentage des céréales pour l'animal
ratio_céréales_aliments_animaux = (céréales_aliments_animaux/(céréales_aliments_animaux + céréales_aliments_homme))*100

In [196]:
ratio_céréales_aliments_animaux

45.91402568664604

In [197]:
print(' La proportion d\'aliments pour animaux dans la ration totale de céréales à usage humain et animal est de ' , ratio_céréales_aliments_animaux , '٪ .')

 La proportion d'aliments pour animaux dans la ration totale de céréales à usage humain et animal est de  45.91402568664604 ٪ .

# Question 12 : 
### Donnez les 3 produits qui on t la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

Sélectionnez parmi les données des bilans alimentaires les informations relatives aux pays dans lesquels la FAO recense des personnes en sous-nutrition.

Repérez les 15 produits les plus exportés par ce groupe de pays.

Parmi les données des bilans alimentaires au niveau mondial, sélectionnez les 200 plus grandes importations de ces produits (1 importation = une quantité d'un produit donné importée par un pays donné)

Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits. Ensuite, calculez pour chaque produit les 2 quantités suivantes :

le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.
le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

In [198]:
#Faire une série de pays sous-alimentés
liste_pays_sousalimentés = pd.Series(df_sousalimentation_an [df_sousalimentation_an ['2012-2014'] > 0]  ['Zone'].unique())
liste_pays_sousalimentés

0         Arménie
1     Afghanistan
2         Albanie
3         Algérie
4          Angola
         ...
91       Éthiopie
92          Yémen
93         Zambie
94         Serbie
95         Soudan
Length: 96, dtype: object

In [199]:
#Faire une dataframe  pour les pays où la population souffre de sous-alimentation.
df_bilan_alimentaire_pays_sousalimentés = df_vegetaux_animaux[df_vegetaux_animaux['Zone'].isin(liste_pays_sousalimentés)]
df_bilan_alimentaire_pays_sousalimentés.head()

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,is_Céréales
0,1,Arménie,2511,Blé,2013,plante,2977000,93.0,0.0,1024.0,...,32.0,312.0,30.0,10.0,-118.0,33163184.60,1.112684e+12,2860.368946,8.525240,True
1,1,Arménie,2513,Orge,2013,plante,2977000,137.0,26.0,0.0,...,15.0,189.0,14.0,7.0,0.0,0.00,0.000000e+00,0.000000,0.000000,True
2,1,Arménie,2514,Maïs,2013,plante,2977000,96.0,NaN,0.0,...,7.0,21.0,0.0,NaN,NaN,10866.05,0.000000e+00,0.000000,0.000000,True
3,1,Arménie,2515,Seigle,2013,plante,2977000,1.0,NaN,1.0,...,0.0,1.0,0.0,NaN,0.0,21732.10,1.086605e+09,0.000000,0.000000,True
4,1,Arménie,2516,Avoine,2013,plante,2977000,4.0,NaN,2.0,...,0.0,5.0,0.0,NaN,NaN,97794.45,2.173210e+09,2173.210000,9.779445,True

In [200]:
# Groupage par produits pour générer le top 15 des exportations
df_bilan_alimentaire_pays_sousalimentés = df_bilan_alimentaire_pays_sousalimentés.groupby('Produit').sum().reset_index()
df_bilan_alimentaire_pays_sousalimentés.head()

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,is_Céréales
0,Abats Comestible,12151,262656,193248,5367394000,57.0,351.0,697.0,229.22,21.56,...,18.0,10276.0,0.0,0.0,3.0,2.012329e+09,1.234525e+13,106121.860862,1686.801910,0
1,"Agrumes, Autres",10843,219576,169092,5206415000,0.0,12.0,80.0,122.76,0.61,...,795.0,11538.0,0.0,72.0,46.0,5.019350e+07,2.356577e+12,4670.419514,12.825445,0
2,"Alcool, non Comestible",10586,223356,169092,5111247000,0.0,6773.0,0.0,0.00,0.00,...,0.0,6739.0,0.0,0.0,229.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0
3,Aliments pour enfants,11913,251920,189222,5340425000,0.0,0.0,236.0,23.45,1.83,...,1.0,0.0,0.0,0.0,8.0,7.154165e+07,1.684980e+12,207655.262244,985.333173,0
4,Ananas,11652,238238,183183,5237410000,0.0,0.0,367.0,394.65,1.26,...,2071.0,21441.0,0.0,8.0,337.0,3.712828e+07,4.364803e+12,23451.742246,15.373147,0

In [201]:
#Top 15 des produits exportés des pays sous-alimentés.
top_15_produits_plus_exportés = pd.DataFrame(affichage_top(df_bilan_alimentaire_pays_sousalimentés,'Exportations - Quantité',15), 
                                  columns=['Produit', 'Exportations - Quantité', ])
top_15_produits_plus_exportés

                Produit  Exportations - Quantité
39       Huile de Palme                  46285.0
52                 Maïs                  37888.0
51               Manioc                  35843.0
79     Riz (Eq Blanchi)                  32787.0
83        Sucre Eq Brut                  25237.0
12                  Blé                  24841.0
49      Légumes, Autres                  19948.0
8               Bananes                  17805.0
25       Fruits, Autres                  14590.0
48   Lait - Excl Beurre                  14486.0
81                 Soja                  14389.0
73  Poissons Pelagiques                  13680.0
89              Tomates                   8901.0
75               Pommes                   7786.0
61  Oranges, Mandarines                   6838.0

In [202]:
#Liste des 15 produits les plus exportés
list_top_15_produits_plus_exportés = pd.Series(top_15_produits_plus_exportés['Produit']).unique()
list_top_15_produits_plus_exportés

array(['Huile de Palme', 'Maïs', 'Manioc', 'Riz (Eq Blanchi)',
       'Sucre Eq Brut', 'Blé', 'Légumes, Autres', 'Bananes',
       'Fruits, Autres', 'Lait - Excl Beurre', 'Soja',
       'Poissons Pelagiques', 'Tomates', 'Pommes', 'Oranges, Mandarines'],
      dtype=object)

In [203]:
#Importations de produits antérieurs
df_importations_produits_plus_exportés  = df_vegetaux_animaux[df_vegetaux_animaux['Produit'].isin(list_top_15_produits_plus_exportés)]
df_importations_produits_plus_exportés .head()

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,is_Céréales
0,1,Arménie,2511,Blé,2013,plante,2977000,93.0,0.0,1024.0,...,32.0,312.0,30.0,10.0,-118.0,33163184.60,1.112684e+12,2860.368946,8.52524,True
2,1,Arménie,2514,Maïs,2013,plante,2977000,96.0,NaN,0.0,...,7.0,21.0,0.0,NaN,NaN,10866.05,0.000000e+00,0.000000,0.00000,True
9,1,Arménie,2532,Manioc,2013,plante,2977000,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.00000,False
12,1,Arménie,2542,Sucre Eq Brut,2013,plante,2977000,NaN,0.0,302.0,...,NaN,8.0,NaN,NaN,3.0,NaN,3.281547e+11,3348.517449,0.00000,False
18,1,Arménie,2555,Soja,2013,plante,2977000,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000,0.00000,False

In [204]:
top_200_importations = affichage_top(df_importations_produits_plus_exportés ,'Importations - Quantité',200)
top_200_importations.head(15)

<ipython-input-157-a217599c0444>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfTop.sort_values(by=[filtreTop], inplace=True, ascending=False)

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,is_Céréales
2509,41,"Chine, continentale",2555,Soja,2013,plante,1385567000,9530.0,NaN,35.0,...,604.0,11951.0,713.0,59162.0,0.0,1.663858e+09,1.770062e+13,3489.869563,32.804774,False
2496,41,"Chine, continentale",2532,Manioc,2013,plante,1385567000,22868.0,7940.0,6.0,...,138.0,4585.0,NaN,NaN,NaN,2.528660e+07,3.034392e+12,1147.218045,0.956015,False
6965,110,Japon,2514,Maïs,2013,plante,127144000,10964.0,288.0,61.0,...,3.0,0.0,0.0,2235.0,259.0,7.425210e+06,2.830861e+12,2417.473237,0.634091,True
3674,59,Égypte,2511,Blé,2013,plante,82056000,4860.0,0.0,1175.0,...,2224.0,9460.0,217.0,0.0,-260.0,1.066835e+09,3.519177e+13,2920.963396,8.854869,True
7490,117,République de Corée,2514,Maïs,2013,plante,49263000,6281.0,47.0,82.0,...,176.0,80.0,1.0,1631.0,0.0,8.091448e+06,1.474442e+12,2401.370668,1.317825,True
6069,100,Inde,2577,Huile de Palme,2013,plante,1252140000,NaN,6782.0,31.0,...,NaN,NaN,NaN,NaN,-12.0,NaN,1.416796e+13,8686.673268,0.000000,False
4769,79,Allemagne,2848,Lait - Excl Beurre,2013,animal,82727000,2064.0,504.0,331.0,...,30.0,31345.0,NaN,0.0,0.0,7.422018e+08,9.994663e+12,467.018481,3.468071,False
2581,41,"Chine, continentale",2848,Lait - Excl Beurre,2013,animal,1385567000,1608.0,NaN,58.0,...,1410.0,40193.0,NaN,0.0,0.0,1.552597e+09,2.933245e+13,648.202364,3.431002,False
6681,106,Italie,2848,Lait - Excl Beurre,2013,animal,60990000,524.0,301.0,272.0,...,36.0,11004.0,NaN,0.0,0.0,3.800012e+08,6.055087e+12,402.144332,2.523751,False
1333,21,Brésil,2511,Blé,2013,plante,200362000,600.0,1.0,384.0,...,607.0,5718.0,231.0,NaN,0.0,7.459477e+08,2.808274e+13,2644.325605,7.023990,True
8967,138,Mexique,2514,Maïs,2013,plante,122332000,12615.0,30.0,986.0,...,2858.0,22664.0,370.0,1602.0,2500.0,1.134586e+09,4.402606e+13,3093.455838,7.972080,True
6128,101,Indonésie,2511,Blé,2013,plante,249866000,202.0,155.0,183.0,...,136.0,NaN,NaN,0.0,0.0,4.459733e+08,1.668980e+13,2624.182307,7.012159,True
14308,231,États-Unis d'Amérique,2605,"Légumes, Autres",2013,plante,320051000,193.0,NaN,43.0,...,1388.0,19242.0,NaN,0.0,NaN,2.383100e+08,5.023200e+12,235.455163,1.117043,False
2525,41,"Chine, continentale",2577,Huile de Palme,2013,plante,1385567000,NaN,4304.0,45.0,...,124.0,230.0,NaN,NaN,0.0,NaN,2.275794e+13,8814.073577,0.000000,False
2571,41,"Chine, continentale",2763,Poissons Pelagiques,2013,animal,1385567000,8634.0,0.0,1.0,...,NaN,3271.0,NaN,NaN,NaN,5.057320e+07,5.057320e+11,1173.392007,11.733920,False

In [205]:
#Groupez ces importations par produit
df_200_importations_produits_plus_exportés = top_200_importations.groupby('Produit').sum().reset_index()
df_200_importations_produits_plus_exportés

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,is_Céréales
0,Bananes,979,13075,10065,620100000,0.0,0.0,89.0,53.45,0.29,...,344.0,7.0,0.0,0.0,0.0,5.223482e+07,4.281632e+12,3033.521603,3.685994,0
1,Blé,6209,107973,86559,4329628000,98103.0,15047.0,30702.0,3948.18,134.51,...,16062.0,420350.0,20576.0,5964.0,-6101.0,2.699613e+10,8.763575e+14,121243.199959,363.202406,43
2,"Fruits, Autres",866,18375,14091,2094036000,0.0,0.0,236.0,195.30,3.47,...,4293.0,62879.0,0.0,1640.0,78.0,3.524160e+08,2.861680e+13,3103.900728,4.151849,0
3,Huile de Palme,1222,25770,20130,3533616000,0.0,18568.0,755.0,32.06,85.37,...,224.0,19446.0,0.0,3.0,-698.0,8.331778e+06,5.874067e+13,69568.085588,1.810603,0
4,Lait - Excl Beurre,3951,76896,54351,3242660000,27211.0,12337.0,5972.0,4344.28,346.39,...,3469.0,327207.0,0.0,155.0,1629.0,9.781280e+09,1.620097e+14,14327.911920,87.991926,0
5,"Légumes, Autres",1563,28655,22143,973729000,3980.0,0.0,734.0,939.21,5.91,...,7272.0,72802.0,30.0,160.0,17.0,9.607365e+08,1.985755e+13,3118.482530,14.346081,0
6,Manioc,689,12660,10065,1775037000,25149.0,20355.0,178.0,62.04,0.36,...,4759.0,58765.0,0.0,1804.0,63.0,9.255162e+07,1.605130e+13,3296.345897,1.893177,0
7,Maïs,3869,70392,56364,3196567000,402885.0,182117.0,4718.0,591.29,40.41,...,18268.0,675213.0,3148.0,38735.0,-45339.0,3.799287e+09,1.620896e+14,79097.768566,176.175595,28
8,"Oranges, Mandarines",1230,20888,16104,736332000,0.0,1.0,175.0,275.78,0.52,...,341.0,7534.0,0.0,0.0,-957.0,8.905488e+07,5.100008e+12,2078.755887,3.450407,0
9,Poissons Pelagiques,767,16578,12078,1841107000,12156.0,0.0,115.0,36.08,5.01,...,0.0,7081.0,0.0,0.0,172.0,6.216504e+08,4.603859e+12,6610.394256,83.387739,0
10,Pommes,834,13085,10065,736140000,0.0,0.0,105.0,103.62,0.64,...,608.0,8551.0,0.0,426.0,209.0,1.969850e+07,5.741394e+12,1866.774122,0.822718,0
11,Riz (Eq Blanchi),1352,25245,18117,1805195000,12644.0,2804.0,4371.0,440.12,9.55,...,7118.0,142910.0,4837.0,1.0,-5539.0,8.396547e+09,4.594693e+14,32685.674840,62.101350,9
12,Soja,2173,38325,30195,2851790000,13710.0,524.0,337.0,43.04,14.88,...,1777.0,107388.0,3596.0,132454.0,-4.0,2.423765e+09,2.579342e+13,27813.464804,370.040568,0
13,Sucre Eq Brut,2000,40672,32208,4027824000,0.0,2996.0,3882.0,397.65,0.00,...,64.0,55692.0,0.0,10421.0,-4641.0,0.000000e+00,2.323937e+14,57094.189270,0.000000,0
14,Tomates,792,13005,10065,673287000,0.0,0.0,65.0,126.30,0.73,...,1026.0,16053.0,0.0,0.0,452.0,1.701239e+08,3.677050e+12,952.003076,4.471741,0

In [206]:
##le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la Autres utilisations.
df_200_importations_produits_plus_exportés['Autres utilisations/disponibilité intérieure'] = df_200_importations_produits_plus_exportés['Autres utilisations (non alimentaire)'] / df_200_importations_produits_plus_exportés['Disponibilité intérieure']
#le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)
df_200_importations_produits_plus_exportés['Aliments pour animaux / (Nourriture + Aliments pour animaux)'] = df_200_importations_produits_plus_exportés['Aliments pour animaux'] /( df_200_importations_produits_plus_exportés['Aliments pour animaux'] +  df_200_importations_produits_plus_exportés ['Nourriture'])
df_200_importations_produits_plus_exportés.head()

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,is_Céréales,Autres utilisations/disponibilité intérieure,Aliments pour animaux / (Nourriture + Aliments pour animaux)
0,Bananes,979,13075,10065,620100000,0.0,0.0,89.0,53.45,0.29,...,0.0,0.0,0.0,5.223482e+07,4.281632e+12,3033.521603,3.685994,0,0.000000,0.000000
1,Blé,6209,107973,86559,4329628000,98103.0,15047.0,30702.0,3948.18,134.51,...,20576.0,5964.0,-6101.0,2.699613e+10,8.763575e+14,121243.199959,363.202406,43,0.032963,0.245950
2,"Fruits, Autres",866,18375,14091,2094036000,0.0,0.0,236.0,195.30,3.47,...,0.0,1640.0,78.0,3.524160e+08,2.861680e+13,3103.900728,4.151849,0,0.000000,0.000000
3,Huile de Palme,1222,25770,20130,3533616000,0.0,18568.0,755.0,32.06,85.37,...,0.0,3.0,-698.0,8.331778e+06,5.874067e+13,69568.085588,1.810603,0,0.724803,0.000000
4,Lait - Excl Beurre,3951,76896,54351,3242660000,27211.0,12337.0,5972.0,4344.28,346.39,...,0.0,155.0,1629.0,9.781280e+09,1.620097e+14,14327.911920,87.991926,0,0.036006,0.083073

In [207]:
#Les trois produits les plus valorisés sont le ratio entre la quantité destinée aux "Autres utilisations" et la disponibilité intérieure.
top_3_produits_Autres_utilisations_et_disponibilité_intérieure = pd.DataFrame(affichage_top(df_200_importations_produits_plus_exportés ,'Autres utilisations/disponibilité intérieure',5), 
                                  columns=['Produit', 'Autres utilisations/disponibilité intérieure','Aliments pour animaux / (Nourriture + Aliments pour animaux)' ])
top_3_produits_Autres_utilisations_et_disponibilité_intérieure

,Produit,Autres utilisations/disponibilité intérieure,Aliments pour animaux / (Nourriture + Aliments pour animaux)
3,Huile de Palme,0.724803,0.000000
6,Manioc,0.302335,0.622408
7,Maïs,0.259771,0.878122
13,Sucre Eq Brut,0.038188,0.000000
4,Lait - Excl Beurre,0.036006,0.083073

In [208]:
#Les trois produits ayant la plus grande valeur pour le ratio : le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animal + humaine).
top_3_produits_nourriture_animale_et_animal_humaine = pd.DataFrame(affichage_top(df_200_importations_produits_plus_exportés ,'Aliments pour animaux / (Nourriture + Aliments pour animaux)',3), 
                                  columns=['Produit', 'Autres utilisations/disponibilité intérieure','Aliments pour animaux / (Nourriture + Aliments pour animaux)' ])
top_3_produits_nourriture_animale_et_animal_humaine

,Produit,Autres utilisations/disponibilité intérieure,Aliments pour animaux / (Nourriture + Aliments pour animaux)
7,Maïs,0.259771,0.878122
9,Poissons Pelagiques,0.000000,0.755359
12,Soja,0.003284,0.646089

# Question 13 : Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

In [209]:
#Production animale USA de céréales

Production_animale_usa_céréales = df_vegetaux_animaux[(df_vegetaux_animaux['is_Céréales'] == True) 
                                                 & (df_vegetaux_animaux['Zone'] == 'États-Unis d\'Amérique')]['Aliments pour animaux'].sum()   
Production_animale_usa_céréales

140096.0

In [210]:
# 10% de la part des produits animaux en céréales des USA (En tonnes) -> (part_cereales_animaux_usa * 1000)*0.1
print('{:,}'.format(int(Production_animale_usa_céréales * 100)).replace(',', ' '),'tonnes de céréales seraient libérées si les États-Unis réduisaient de 10% leur production de produits animaux')

14 009 600 tonnes de céréales seraient libérées si les États-Unis réduisaient de 10% leur production de produits animaux

# Question 14 : En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition?

In [211]:
df_Thaïlande_manioc_exportée = df_vegetaux_animaux [(df_vegetaux_animaux['Produit'] == 'Manioc') \
                                                    & (df_vegetaux_animaux['Zone'] == 'Thaïlande')]
df_Thaïlande_manioc_exportée

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,is_Céréales
13344,216,Thaïlande,2532,Manioc,2013,plante,67011000,1800.0,2081.0,40.0,...,1511.0,30228.0,NaN,0.0,0.0,3424262.1,9.783606e+11,1123.261309,0.393141,False

In [212]:
#En Thaïlande, la proportion de manioc est exportée 
Thaïlande_manioc_exportée = (df_Thaïlande_manioc_exportée['Exportations - Quantité'] / (df_Thaïlande_manioc_exportée['Exportations - Quantité'] + df_Thaïlande_manioc_exportée['Disponibilité intérieure']))* 100
Thaïlande_manioc_exportée

13344    80.100388
dtype: float64

In [213]:
#En Thaïlande , la proportion de personnes en sous-nutrition
proportion_Thaïlande_sous_nutrition = (float(df_sousalimentation_an[df_sousalimentation_an['Zone'] == 'Thaïlande']['2012-2014']) / float(df_Thaïlande_manioc_exportée['Population']))* 100                                     
proportion_Thaïlande_sous_nutrition

8.356836937219262e-06

In [214]:
print('En 2013, la Thaïlande a exporté l\'équivalent de ' , int(Thaïlande_manioc_exportée ),'% de sa production de manioc'
'Alors que' , float(proportion_Thaïlande_sous_nutrition) , ' % de personnes sont sous-alimentées.')

En 2013, la Thaïlande a exporté l'équivalent de  80 % de sa production de maniocAlors que 8.356836937219262e-06  % de personnes sont sous-alimentées.