


# P3_Réalisez une étude de santé publique

## Importer  pandas et lire des bases de données

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [39]:
df_population = pd.read_csv('fr_population.csv')
df_animaux = pd.read_csv('fr_animaux.csv')
df_vegetaux = pd.read_csv('fr_vegetaux.csv')
df_céréales = pd.read_csv('fr_céréales.csv')
df_sousalimentation = pd.read_csv('fr_sousalimentation.csv')

### Connaître la base de données
df_population 
df_animaux 
df_vegetaux 
df_céréales 
df_sousalimentation

In [40]:
df_population.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')

In [41]:
df_population.shape

(175, 14)

In [42]:
df_population

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,236,Venezuela (République bolivarienne du),511,Population totale,2501,Population,2013,2013,1000 personnes,30405,NaN,Donnée officielle
171,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,237,Viet Nam,511,Population totale,2501,Population,2013,2013,1000 personnes,91680,NaN,Donnée officielle
172,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,249,Yémen,511,Population totale,2501,Population,2013,2013,1000 personnes,24407,NaN,Donnée officielle
173,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,251,Zambie,511,Population totale,2501,Population,2013,2013,1000 personnes,14539,NaN,Donnée officielle
174,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,511,Population totale,2501,Population,2013,2013,1000 personnes,14150,NaN,Donnée officielle

In [43]:
df_population.nunique()

Code Domaine                1
Domaine                     1
Code zone                 175
Zone                      175
Code Élément                1
Élément                     1
Code Produit                1
Produit                     1
Code année                  1
Année                       1
Unité                       1
Valeur                    175
Symbole                     1
Description du Symbole      2
dtype: int64

In [44]:
df_population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

### Question 1 : donnez le résultat de votre calcul pour l'année 2013.

In [45]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            175 non-null    object
 1   Domaine                 175 non-null    object
 2   Code zone               175 non-null    int64
 3   Zone                    175 non-null    object
 4   Code Élément            175 non-null    int64
 5   Élément                 175 non-null    object
 6   Code Produit            175 non-null    int64
 7   Produit                 175 non-null    object
 8   Code année              175 non-null    int64
 9   Année                   175 non-null    int64
 10  Unité                   175 non-null    object
 11  Valeur                  175 non-null    int64
 12  Symbole                 1 non-null      object
 13  Description du Symbole  175 non-null    object
dtypes: int64(6), object(8)
memory usage: 19.3+ KB

In [46]:
df_population['Année'] .nunique()

1

Il n'y a que l'année 2013 dans la colonne année.
On peut additionner la population de chaque pays pour obtenir la population totale du monde

In [47]:
df_population .nunique()

Code Domaine                1
Domaine                     1
Code zone                 175
Zone                      175
Code Élément                1
Élément                     1
Code Produit                1
Produit                     1
Code année                  1
Année                       1
Unité                       1
Valeur                    175
Symbole                     1
Description du Symbole      2
dtype: int64

In [48]:
df_population ['Description du Symbole']. unique ()

array(['Donnée officielle',
       'Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées'],
      dtype=object)

# population mondiale

In [49]:
population2013 = (df_population['Valeur'].sum()*1000)
population2013

8413993000

In [50]:
print ('La population de la terre est ',population2013 , ', Mais en 2013, la population de la Terre, selon les données des Nations Unies, était de 7 210 581 976 "https://www.worldometers.info/world-population/world-population-by-year/"'
)

La population de la terre est  8413993000 , Mais en 2013, la population de la Terre, selon les données des Nations Unies, était de 7 210 581 976 "https://www.worldometers.info/world-population/world-population-by-year/"

La Chine est comptée deux fois, dans la ligne 33 les données non officielles sont en double
Si nous supprimons) la ligne contenant l'index 33 de notre ensemble de données.

In [51]:
df_population_pas_officielles= (df_population['Description du Symbole']=='Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées')
df_population_pas_officielles

0      False
1      False
2      False
3      False
4      False
       ...
170    False
171    False
172    False
173    False
174    False
Name: Description du Symbole, Length: 175, dtype: bool

In [82]:
df_population[df_population_pas_officielles]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,NaN,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [85]:

df_population = df_population[df_population['Code zone'] != 40.0]

In [86]:
df_population.iloc[30:40]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
30,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,32.0,Cameroun,511,Population totale,2501,Population,2013,2013,1000 personnes,22254,NaN,Donnée officielle
31,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,33.0,Canada,511,Population totale,2501,Population,2013,2013,1000 personnes,35182,NaN,Donnée officielle
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,NaN,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."
34,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,96.0,Chine - RAS de Hong-Kong,511,Population totale,2501,Population,2013,2013,1000 personnes,7204,NaN,Donnée officielle
35,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,128.0,Chine - RAS de Macao,511,Population totale,2501,Population,2013,2013,1000 personnes,566,NaN,Donnée officielle
36,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41.0,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle
37,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,214.0,"Chine, Taiwan Province de",511,Population totale,2501,Population,2013,2013,1000 personnes,23330,NaN,Donnée officielle
38,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,50.0,Chypre,511,Population totale,2501,Population,2013,2013,1000 personnes,1141,NaN,Donnée officielle
39,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,44.0,Colombie,511,Population totale,2501,Population,2013,2013,1000 personnes,48321,NaN,Donnée officielle
40,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,46.0,Congo,511,Population totale,2501,Population,2013,2013,1000 personnes,4448,NaN,Donnée officielle

In [ ]:
df_population[]

In [55]:
df_population.shape

(175, 14)

In [56]:
df_population ['Zone']. nunique ()

175

Il y a 206 pays dans le monde. Parmi eux, 193 sont membres des Nations Unies selon https://fr.wikipedia.org/wiki/Organisation_des_Nations_unies_pour_l%27alimentation_et_l%27agriculture, mais dans la base de données actuelle 175

### Question 2

Question 2 : Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique (pas besoin de coder ici :soleil: ). C'est une équation à 3 termes de type \(a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]\) ) faisant intervenir chacune des 11 quantités données ci dessus. Illustrez cette équation avec l'exemple du blé en France. Pour avoir un indice,

In [58]:
df_vegetaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées

In [59]:
df_blé_France=((df_vegetaux['Zone']== 'France') & (df_vegetaux['Produit']== 'Blé'))
df_vegetaux[df_blé_France]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
37487,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614.00,S,Données standardisées
37488,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,2055.00,S,Données standardisées
37489,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,1131.00,S,Données standardisées
37490,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,21502.00,S,Données standardisées
37491,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,20298.00,S,Données standardisées
37492,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5521,Aliments pour animaux,2511,Blé,2013,2013,Milliers de tonnes,7822.00,S,Données standardisées
37493,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,748.00,S,Données standardisées
37494,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5123,Pertes,2511,Blé,2013,2013,Milliers de tonnes,358.00,S,Données standardisées
37495,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5131,Traitement,2511,Blé,2013,2013,Milliers de tonnes,1575.00,S,Données standardisées
37496,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5154,Autres utilisations (non alimentaire),2511,Blé,2013,2013,Milliers de tonnes,2824.00,S,Données standardisées
37497,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5142,Nourriture,2511,Blé,2013,2013,Milliers de tonnes,6971.00,S,Données standardisées
37498,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,645,Disponibilité alimentaire en quantité (kg/pers...,2511,Blé,2013,2013,kg,108.43,Fc,Donnée calculée
37499,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,664,Disponibilité alimentaire (Kcal/personne/jour),2511,Blé,2013,2013,Kcal/personne/jour,811.00,Fc,Donnée calculée
37500,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,674,Disponibilité de protéines en quantité (g/pers...,2511,Blé,2013,2013,g/personne/jour,25.99,Fc,Donnée calculée
37501,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,684,Disponibilité de matière grasse en quantité (g...,2511,Blé,2013,2013,g/personne/jour,4.20,Fc,Donnée calculée

In [60]:
df_vegetaux[df_blé_France].shape

(15, 14)

une équation à 3 termes

Disponibilité intérieur = Production + importations - exportations + variations des stocks = Nourriture + Aliments pour animaux + Semences + Traitement + Autres utilisations + Pertes